.page-footer
    .page-footer-inner
        | © !{ currentYear } © Avaritia |&nbsp;
        a(href='https://github.com/AlejoJamC/avaritiaBO', title='Avaritia source code', target='_blank') Github&nbsp;
        | |&nbsp;
        a(href='https://www.livecoding.tv/alejojamc/videos/', title='Avaritia LiveCoding', target='_blank') Livecoding.tv&nbsp;
        | |&nbsp;
        a(href='http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes', title='Purchase Metronic just for 27$ and get lifetime updates for free', target='_blank') Purchase Metronic
    .scroll-to-top
        i.icon-arrow-up