.page-footer
    .page-footer-inner
        | !{ currentYear } © Avaritia
        a(href='https://github.com/AlejoJamC/avaritiaBO', title='Avaritia source code', target='_blank') Github
        a(href='http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes', title='Purchase Metronic just for 27$ and get lifetime updates for free', target='_blank') Purchase Metronic!
    .scroll-to-top
        i.icon-arrow-up