.page-header.navbar.navbar-fixed-top
  // BEGIN HEADER INNER
  .page-header-inner

    // BEGIN LOGO
    .page-logo
      a(href=level + '/')
        img.logo-default(src= level + 'img/logo.png', alt='logo')
      .menu-toggler.sidebar-toggler.hide

    // BEGIN RESPONSIVE MENU TOGGLER
    a.menu-toggler.responsive-toggler(href='javascript:;', data-toggle='collapse', data-target='.navbar-collapse')

    // BEGIN TOP NAVIGATION MENU
    .top-menu
      ul.nav.navbar-nav.pull-right
        // BEGIN USER LOGIN DROPDOWN
        li.dropdown.dropdown-user
          a.dropdown-toggle(href='javascript:;', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            img.img-circle(alt='', src= level + 'img/avatar3_small.jpg')
            span.username.username-hide-on-mobile
              | Alejandro
            i.fa.fa-angle-down
          ul.dropdown-menu.dropdown-menu-default
            li
              a(href='logout')
                i.icon-key
                |  Cerrar sesión
        // END USER LOGIN DROPDOWN