doctype html
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
head
  meta(charset='utf-8')
  title !{ title }
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(content='', name='description')
  meta(content='', name='author')
  // BEGIN GLOBAL MANDATORY STYLES
  link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/simple-line-icons/simple-line-icons.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/uniform/css/uniform.default.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/bootstrap-switch/css/bootstrap-switch.min.css', rel='stylesheet', type='text/css')
  // END GLOBAL MANDATORY STYLES
  // BEGIN PAGE LEVEL PLUGINS
  link(href= level + 'plugins/bootstrap-daterangepicker/daterangepicker.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/morris/morris.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/fullcalendar/fullcalendar.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'plugins/jqvmap/jqvmap/jqvmap.css', rel='stylesheet', type='text/css')
  // END PAGE LEVEL PLUGINS
  // BEGIN THEME GLOBAL STYLES
  link#style_components(href= level + 'css/components.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'css/plugins.min.css', rel='stylesheet', type='text/css')
  // END THEME GLOBAL STYLES
  // BEGIN THEME LAYOUT STYLES
  link(href= level + 'css/layout.min.css', rel='stylesheet', type='text/css')
  link#style_color(href= level + 'css/themes/darkblue.min.css', rel='stylesheet', type='text/css')
  link(href= level + 'css/custom.min.css', rel='stylesheet', type='text/css')
  // END THEME LAYOUT STYLES
  link(rel='shortcut icon', href= level +'favicon.ico')
  // END HEAD