.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')

      li.sidebar-toggler-wrapper
        // BEGIN SIDEBAR TOGGLER BUTTON
        .sidebar-toggler
        // END SIDEBAR TOGGLER BUTTON

      li.sidebar-search-wrapper
      br
      li(class=(module === 'Dashboard')? 'start active open': 'nav-item')
        a(href='/')
          i.fa.fa-language
          span.title
            | Dashboard
      li(class=(module === 'Bancos')? 'nav-item start active open': 'nav-item')
        a.nav-link.nav-toggle(href='javascript:;')
          i.fa.fa-university
          span.title Bancos
          span(class=(module === 'Bancos')? 'arrow open': 'arrow')
        ul.sub-menu
          li(class=(moduleURL === 'bancos')? 'nav-item active open': 'nav-item')
            a(href='/bancos')
              | Lista
          li(class=(moduleURL === 'bancos/agregar')? 'nav-item active open': 'nav-item')
            a(href='/bancos/agregar')
              | Agregar
          li(class=(moduleURL === 'bancos/editar')? 'nav-item active open': 'nav-item')
            a(href='/bancos/editar')
              | Editar
          li(class=(moduleURL === 'bancos/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/bancos/eliminar')
              | Eliminar
      li(class=(module === 'Tasas')? 'nav-item start active open': 'nav-item')
        a.nav-link.nav-toggle(href='javascript:;')
          i.fa.fa-bar-chart
          span.title Tasas de interes
          span(class=(module === 'Tasas')? 'arrow open': 'arrow')
        ul.sub-menu
          li(class=(moduleURL === 'tasas')? 'nav-item active open': 'nav-item')
            a(href='/tasas')
              | Lista
          li(class=(moduleURL === 'tasas/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/tasas/agregar')
              | Agregar
          li(class=(moduleURL === 'tasas/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/tasas/editar')
              | Editar
          li(class=(moduleURL === 'tasas/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/tasas/eliminar')
              | Eliminar
      li(class=(module === 'Servicios')? 'nav-item start active open': 'nav-item')
        a.nav-link.nav-toggle(href='javascript:;')
          i.fa.fa-cogs
          span.title Servicios
          span(class=(module === 'Servicios')? 'arrow open': 'arrow')
        ul.sub-menu
          li(class=(moduleURL === 'servicios')? 'nav-item active open': 'nav-item')
            a(href='/servicios')
              | Lista
          li(class=(moduleURL === 'servicios/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/servicios/agregar')
              | Agregar
          li(class=(moduleURL === 'servicios/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/servicios/editar')
              | Editar
          li(class=(moduleURL === 'servicios/eliminar')? 'nav-item active open': 'nav-item')
            a(href='/servicios/eliminar')
              | Eliminar
      li.heading
        h3.uppercase Parametros
      li(class=(module === 'Idiomas')? 'nav-item start active open': 'nav-item')
        a(href='/idiomas')
          i.fa.fa-language
          span.title
            | Idiomas
      li(class=(module === 'Monedas')? 'nav-item start active open': 'nav-item')
        a(href='/monedas')
          i.fa.fa-money
          span.title
            | Monedas
      li(class=(module === 'Paises')? 'nav-item start active open': 'nav-item')
        a(href='/paises')
          i.fa.fa-map-marker
          span.title
            | Paises