.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')
      // DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element
      li.sidebar-toggler-wrapper
        // BEGIN SIDEBAR TOGGLER BUTTON
        .sidebar-toggler
        // END SIDEBAR TOGGLER BUTTON
      // DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element
      li.sidebar-search-wrapper
        // BEGIN RESPONSIVE QUICK SEARCH FORM
        // DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box
        // DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box
        form.sidebar-search(action='extra_search.html', method='POST')
          a.remove(href='javascript:;')
            i.icon-close
          .input-group
            input.form-control(type='text', placeholder='Buscar...')
            span.input-group-btn
              a.btn.submit(href='javascript:;')
                i.icon-magnifier
        // END RESPONSIVE QUICK SEARCH FORM
      li.start.active.open
        a(href='javascript:;')
          i.icon-home
          span.title Dashboard
          span.selected
          span.arrow.open
        ul.sub-menu
          li.active
            a(href='index.html')
              i.icon-bar-chart
              | 							Default Dashboard
          li
            a(href='index_2.html')
              i.icon-bulb
              | 							New Dashboard #1
          li
            a(href='index_3.html')
              i.icon-graph
              | 							New Dashboard #2
      li
        a(href='javascript:;')
          i.icon-basket
          span.title eCommerce
          span.arrow
        ul.sub-menu
          li
            a(href='ecommerce_index.html')
              i.icon-home
              | 							Dashboard
          li
            a(href='ecommerce_orders.html')
              i.icon-basket
              | 							Orders
          li
            a(href='ecommerce_orders_view.html')
              i.icon-tag
              | 							Order View
          li
            a(href='ecommerce_products.html')
              i.icon-handbag
              | 							Products
          li
            a(href='ecommerce_products_edit.html')
              i.icon-pencil
              | 							Product Edit
      li
        a(href='javascript:;')
          i.icon-rocket
          span.title Page Layouts
          span.arrow
        ul.sub-menu
          li
            a(href='layout_horizontal_sidebar_menu.html')
              | Horizontal & Sidebar Menu
          li
            a(href='index_horizontal_menu.html')
              | Dashboard & Mega Menu
          li
            a(href='layout_horizontal_menu1.html')
              | Horizontal Mega Menu 1
          li
            a(href='layout_horizontal_menu2.html')
              | Horizontal Mega Menu 2
          li
            a(href='layout_fontawesome_icons.html')
              span.badge.badge-roundless.badge-danger new
              | Layout with Fontawesome Icons
          li
            a(href='layout_glyphicons.html')
              | Layout with Glyphicon
          li
            a(href='layout_full_height_portlet.html')
              span.badge.badge-roundless.badge-success new
              | Full Height Portlet
          li
            a(href='layout_full_height_content.html')
              span.badge.badge-roundless.badge-warning new
              | Full Height Content
          li
            a(href='layout_search_on_header1.html')
              | Search Box On Header 1
          li
            a(href='layout_search_on_header2.html')
              | Search Box On Header 2
          li
            a(href='layout_sidebar_search_option1.html')
              | Sidebar Search Option 1
          li
            a(href='layout_sidebar_search_option2.html')
              | Sidebar Search Option 2
          li
            a(href='layout_sidebar_reversed.html')
              span.badge.badge-roundless.badge-warning new
              | Right Sidebar Page
          li
            a(href='layout_sidebar_fixed.html')
              | Sidebar Fixed Page
          li
            a(href='layout_sidebar_closed.html')
              | Sidebar Closed Page
          li
            a(href='layout_ajax.html')
              | Content Loading via Ajax
          li
            a(href='layout_disabled_menu.html')
              | Disabled Menu Links
          li
            a(href='layout_blank_page.html')
              | Blank Page
          li
            a(href='layout_boxed_page.html')
              | Boxed Page
          li
            a(href='layout_language_bar.html')
              | Language Switch Bar
      li
        a(href='javascript:;')
          i.icon-diamond
          span.title UI Features
          span.arrow
        ul.sub-menu
          li
            a(href='ui_general.html')
              | General Components
          li
            a(href='ui_buttons.html')
              | Buttons
          li
            a(href='ui_confirmations.html')
              | Popover Confirmations
          li
            a(href='ui_icons.html')
              span.badge.badge-roundless.badge-danger new
              | Font Icons
          li
            a(href='ui_colors.html')
              | Flat UI Colors
          li
            a(href='ui_typography.html')
              | Typography
          li
            a(href='ui_tabs_accordions_navs.html')
              | Tabs, Accordions & Navs
          li
            a(href='ui_tree.html')
              span.badge.badge-roundless.badge-danger new
              | Tree View
          li
            a(href='ui_page_progress_style_1.html')
              span.badge.badge-roundless.badge-warning new
              | Page Progress Bar
          li
            a(href='ui_blockui.html')
              | Block UI
          li
            a(href='ui_bootstrap_growl.html')
              span.badge.badge-roundless.badge-warning new
              | Bootstrap Growl Notifications
          li
            a(href='ui_notific8.html')
              | Notific8 Notifications
          li
            a(href='ui_toastr.html')
              | Toastr Notifications
          li
            a(href='ui_alert_dialog_api.html')
              span.badge.badge-roundless.badge-danger new
              | Alerts & Dialogs API
          li
            a(href='ui_session_timeout.html')
              | Session Timeout
          li
            a(href='ui_idle_timeout.html')
              | User Idle Timeout
          li
            a(href='ui_modals.html')
              | Modals
          li
            a(href='ui_extended_modals.html')
              | Extended Modals
          li
            a(href='ui_tiles.html')
              | Tiles
          li
            a(href='ui_datepaginator.html')
              span.badge.badge-roundless.badge-success new
              | Date Paginator
          li
            a(href='ui_nestable.html')
              | Nestable List
      li
        a(href='javascript:;')
          i.icon-puzzle
          span.title UI Components
          span.arrow
        ul.sub-menu
          li
            a(href='components_pickers.html')
              | Date & Time Pickers
          li
            a(href='components_context_menu.html')
              | Context Menu
          li
            a(href='components_dropdowns.html')
              | Custom Dropdowns
          li
            a(href='components_form_tools.html')
              | Form Widgets & Tools
          li
            a(href='components_form_tools2.html')
              | Form Widgets & Tools 2
          li
            a(href='components_editors.html')
              | Markdown & WYSIWYG Editors
          li
            a(href='components_ion_sliders.html')
              | Ion Range Sliders
          li
            a(href='components_noui_sliders.html')
              | NoUI Range Sliders
          li
            a(href='components_jqueryui_sliders.html')
              | jQuery UI Sliders
          li
            a(href='components_knob_dials.html')
              | Knob Circle Dials
      // BEGIN ANGULARJS LINK
      li.tooltips(data-container='body', data-placement='right', data-html='true', data-original-title='AngularJS version demo')
        a(href='angularjs', target='_blank')
          i.icon-paper-plane
          span.title
            | AngularJS Version
      // END ANGULARJS LINK
      li.heading
        h3.uppercase Features
      li
        a(href='javascript:;')
          i.icon-settings
          span.title Form Stuff
          span.arrow
        ul.sub-menu
          li
            a(href='form_controls_md.html')
              span.badge.badge-roundless.badge-danger new
              | Material Design
              br
              | 							Form Controls
          li
            a(href='form_controls.html')
              | Bootstrap
              br
              | 							Form Controls
          li
            a(href='form_icheck.html')
              | iCheck Controls
          li
            a(href='form_layouts.html')
              | Form Layouts
          li
            a(href='form_editable.html')
              span.badge.badge-roundless.badge-warning new
              | Form X-editable
          li
            a(href='form_wizard.html')
              | Form Wizard
          li
            a(href='form_validation.html')
              | Form Validation
          li
            a(href='form_image_crop.html')
              span.badge.badge-roundless.badge-danger new
              | Image Cropping
          li
            a(href='form_fileupload.html')
              | Multiple File Upload
          li
            a(href='form_dropzone.html')
              | Dropzone File Upload
      li
        a(href='javascript:;')
          i.icon-briefcase
          span.title Data Tables
          span.arrow
        ul.sub-menu
          li
            a(href='table_basic.html')
              | Basic Datatables
          li
            a(href='table_tree.html')
              | Tree Datatables
          li
            a(href='table_responsive.html')
              | Responsive Datatables
          li
            a(href='table_managed.html')
              | Managed Datatables
          li
            a(href='table_editable.html')
              | Editable Datatables
          li
            a(href='table_advanced.html')
              | Advanced Datatables
          li
            a(href='table_ajax.html')
              | Ajax Datatables
      li
        a(href='javascript:;')
          i.icon-wallet
          span.title Portlets
          span.arrow
        ul.sub-menu
          li
            a(href='portlet_general.html')
              | General Portlets
          li
            a(href='portlet_general2.html')
              span.badge.badge-roundless.badge-danger new
              | New Portlets #1
          li
            a(href='portlet_general3.html')
              span.badge.badge-roundless.badge-danger new
              | New Portlets #2
          li
            a(href='portlet_ajax.html')
              | Ajax Portlets
          li
            a(href='portlet_draggable.html')
              | Draggable Portlets
      li
        a(href='javascript:;')
          i.icon-bar-chart
          span.title Charts
          span.arrow
        ul.sub-menu
          li
            a(href='charts_amcharts.html')
              | amChart
          li
            a(href='charts_flotcharts.html')
              | Flotchart
      li
        a(href='javascript:;')
          i.icon-docs
          span.title Pages
          span.arrow
        ul.sub-menu
          li
            a(href='page_timeline.html')
              i.icon-paper-plane
              span.badge.badge-warning 2
              | New Timeline
          li
            a(href='extra_profile.html')
              i.icon-user-following
              span.badge.badge-success.badge-roundless new
              | New User Profile
          li
            a(href='page_todo.html')
              i.icon-check
              | 							Todo
          li
            a(href='inbox.html')
              i.icon-envelope
              span.badge.badge-danger 4
              | Inbox
          li
            a(href='extra_faq.html')
              i.icon-question
              | 							FAQ
          li
            a(href='page_calendar.html')
              i.icon-calendar
              span.badge.badge-danger 14
              | Calendar
          li
            a(href='page_coming_soon.html')
              i.icon-flag
              | 							Coming Soon
          li
            a(href='page_blog.html')
              i.icon-speech
              | 							Blog
          li
            a(href='page_blog_item.html')
              i.icon-link
              | 							Blog Post
          li
            a(href='page_news.html')
              i.icon-eye
              span.badge.badge-success 9
              | News
          li
            a(href='page_news_item.html')
              i.icon-bell
              | 							News View
          li
            a(href='page_timeline_old.html')
              i.icon-paper-plane
              span.badge.badge-warning 2
              | Old Timeline
          li
            a(href='extra_profile_old.html')
              i.icon-user
              | 							Old User Profile
      li
        a(href='javascript:;')
          i.icon-present
          span.title Extra
          span.arrow
        ul.sub-menu
          li
            a(href='page_about.html')
              | About Us
          li
            a(href='page_contact.html')
              | Contact Us
          li
            a(href='extra_search.html')
              | Search Results
          li
            a(href='extra_invoice.html')
              | Invoice
          li
            a(href='page_portfolio.html')
              | Portfolio
          li
            a(href='extra_pricing_table.html')
              | Pricing Tables
          li
            a(href='extra_404_option1.html')
              | 404 Page Option 1
          li
            a(href='extra_404_option2.html')
              | 404 Page Option 2
          li
            a(href='extra_404_option3.html')
              | 404 Page Option 3
          li
            a(href='extra_500_option1.html')
              | 500 Page Option 1
          li
            a(href='extra_500_option2.html')
              | 500 Page Option 2
      li
        a(href='javascript:;')
          i.icon-folder
          span.title Multi Level Menu
          span.arrow
        ul.sub-menu
          li
            a(href='javascript:;')
              i.icon-settings
              |  Item 1
              span.arrow
            ul.sub-menu
              li
                a(href='javascript:;')
                  i.icon-user
                  | 									Sample Link 1
                  span.arrow
                ul.sub-menu
                  li
                    a(href='#')
                      i.icon-power
                      |  Sample Link 1
                  li
                    a(href='#')
                      i.icon-paper-plane
                      |  Sample Link 1
                  li
                    a(href='#')
                      i.icon-star
                      |  Sample Link 1
              li
                a(href='#')
                  i.icon-camera
                  |  Sample Link 1
              li
                a(href='#')
                  i.icon-link
                  |  Sample Link 2
              li
                a(href='#')
                  i.icon-pointer
                  |  Sample Link 3
          li
            a(href='javascript:;')
              i.icon-globe
              |  Item 2
              span.arrow
            ul.sub-menu
              li
                a(href='#')
                  i.icon-tag
                  |  Sample Link 1
              li
                a(href='#')
                  i.icon-pencil
                  |  Sample Link 1
              li
                a(href='#')
                  i.icon-graph
                  |  Sample Link 1
          li
            a(href='#')
              i.icon-bar-chart
              | 							Item 3
      li
        a(href='javascript:;')
          i.icon-user
          span.title Login Options
          span.arrow
        ul.sub-menu
          li
            a(href='login.html')
              | Login Form 1
          li
            a(href='login_2.html')
              | Login Form 2
          li
            a(href='login_3.html')
              | Login Form 3
          li
            a(href='login_soft.html')
              | Login Form 4
          li
            a(href='extra_lock.html')
              | Lock Screen 1
          li
            a(href='extra_lock2.html')
              | Lock Screen 2
      li.heading
        h3.uppercase More
      li
        a(href='javascript:;')
          i.icon-logout
          span.title Quick Sidebar
          span.arrow
        ul.sub-menu
          li
            a(href='quick_sidebar_push_content.html')
              | Push Content
          li
            a(href='quick_sidebar_over_content.html')
              | Over Content
          li
            a(href='quick_sidebar_over_content_transparent.html')
              | Over Content & Transparent
          li
            a(href='quick_sidebar_on_boxed_layout.html')
              | Boxed Layout
      li.last
        a(href='javascript:;')
          i.icon-pointer
          span.title Maps
          span.arrow
        ul.sub-menu
          li
            a(href='maps_google.html')
              | Google Maps
          li
            a(href='maps_vector.html')
              | Vector Maps
