.page-sidebar-wrapper
  .page-sidebar.navbar-collapse.collapse
    ul.page-sidebar-menu(data-keep-expanded='false', data-auto-scroll='true', data-slide-speed='200')

      li.sidebar-toggler-wrapper
        // BEGIN SIDEBAR TOGGLER BUTTON
        .sidebar-toggler
        // END SIDEBAR TOGGLER BUTTON

      li.sidebar-search-wrapper
      br
      li.start.active.open
        a(href='/')
          i.fa.fa-language
          span.title
            | Dashboard
      li
        a(href='javascript:;')
          i.fa.fa-university
          span.title Bancos
          span.arrow
        ul.sub-menu
          li
            a(href='bancos')
              i.icon-home
              | Lista
          li
            a(href='bancos/agregar')
              i.icon-basket
              | Agregar
          li
            a(href='bancos/editar')
              i.icon-tag
              | Editar
          li
            a(href='bancos/eliminar')
              i.icon-handbag
              | Eliminar
      li
        a(href='javascript:;')
          i.fa.fa-bar-chart
          span.title Tasas de interes
          span.arrow
        ul.sub-menu
          li
            a(href='tasas')
              | Lista
          li
            a(href='tasas/agregar')
              | Agregar
          li
            a(href='tasas/editar')
              | Editar
          li
            a(href='tasas/eliminar')
              | Eliminar
      li
        a(href='javascript:;')
          i.fa.fa-cogs
          span.title Servicios
          span.arrow
        ul.sub-menu
          li
            a(href='servicios')
              | Lista
          li
            a(href='servicios/agregar')
              | Agregar
          li
            a(href='servicios/editar')
              | Editar
          li
            a(href='servicios/eliminar')
              | Eliminar
      li.heading
        h3.uppercase Parametros
      li
        a(href='diomas')
          i.fa.fa-language
          span.title
            | Idiomas
      li
        a(href='monedas')
          i.fa.fa-money
          span.title
            | Monedas
      li
        a(href='paises')
          i.fa.fa-map-marker
          span.title
            | Paises